/* h1{
  text-align: center;
  /* border: solid; */
  /* width: 50%; */
  /* text-decoration: red underline; */
  /* text-decoration-color:red;*/
  /* text-decoration: red  wavy underline; */
  /* letter-spacing: 2px; */
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 } */
/* 
p{
  text-align:justify ;
  font-weight: bold;
  line-height: normal;
  /* letter-spacing: 2px; */
  /* font-size: 15px;
}
h2{
  font-weight: normal;
  font-family: didot;
}
a{
  text-decoration: none;
} */ 

/* For practice question 2 */

/* h1{
  text-align: center;
  font-family: League spartan;
  color: #ffa511;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.5;
  text-decoration: teal double underline;
  text-transform: uppercase;
} */